body
{
	color: #222222;
    font: 12px Arial,Tahoma,Helvetica,FreeSans,sans-serif;
	margin: 0;
	padding: 0;
	background-image: url("../images/background_light.jpeg");
    background-repeat: repeat;
}
#top_bar
{
    position:static;
    color: #eeeeee;
    padding-right: 20%;
    text-align: right;
    background-color: #414141;
    opacity: 30%;
}
#top_bar a
{
	width:100%;
	height: 100%;
	text-decoration: none;
	padding: .4em 1em;
    color:inherit;
	font-size: 15px;
	font-weight: bold;
}
#top_bar:hover
{
    background-color:#444444;
}
#page_limit
{
	
	position:relative;
	background-color: #fefefe;
	border: 1px dashed #d9d9d9;
	margin: auto;
	width: 80%;
	min-height: 100px;
	overflow: hidden;
	min-width: 800px;
	margin-bottom: 30px;
	margin-top: 30px;
	padding-bottom: 50px;
	padding-top:20px;
	
}
#header
{
	position:relative;
	float:right;
	width: 80%;
	height: 150px;
	text-align: left;
	margin-bottom: 10px;
}
#header img
{
	height:100px;
	
}
#main_menu
{
	position:relative;
	float:right;
	text-transform: uppercase;
	width:80%;
}

#main_menu ul
{
	position:relative;
	float:left;
	list-style-type: none;
	text-align: center;
	margin-bottom: 10px;
}

#main_menu ul li 
{ 
	margin: 2px;
	display: inline; 
}
#main_menu ul li:hover
{ 
	background-image:url("../images/chilliyum_underline_small.png");
	background-size: 100% 100%;
}
#main_menu ul li a
{
	width:100%;
	height: 100%;
	text-decoration: none;
	padding: .4em 1em;
	color: #292929;
	font-size: 15px;
	font-weight: bold;
}
#content_view
{	
	position:relative;
	float:right;
	width: 80%;
}

.article
{
	width: 80%;
	padding: 5px;
	border: 1px solid #afafaf;
	border-radius: 1px;
}

.gen_form
{
    
}

form
{
    display: inline;
    padding: 0px;
    margin:0px;
}